.bar-chart {
  margin: 20px 10px;
  padding: 20px;
  background-color: rgb(232, 199, 150);
  border-radius: 5px;
  text-decoration: solid;
}

.bar {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.bar-inner {
  height: 20px;
  background-color: #007bff;
  margin: 0 10px;
}
.bardiv{
  padding: 10px;
  background-color: rgb(171, 229, 229);
  border-radius: 5px;
}
